html {
  overflow: hidden;
}

#root {
  height: stretch;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  max-width: 100svw;
  min-width: 100svw;
  min-height: 100vh;
  
  background-color: var(--background-color);
  background-image: url('../assets/images/background.webp');
  background-size: cover;
  color: var(--light-text-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

nav * p:hover {
  background-color: #0561473d;
  border-radius: 12px;
}
h1:hover {
  background-color: #0561473d;
  border-radius: 12px;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1vw;
  text-align: center;
  height: min-content;
}

nav { 
  display: flex;
  justify-content: space-around;
  text-align: center;
}

nav * {
  text-decoration: none;
  margin-right: 1vw;
  color: var(--alt-text-color);
}

header a {
  margin: 0 0.2vw 0.1vw 0.2vw;
  border-bottom: 2px solid var(--alt-text-color);
  text-underline-offset: 150px;
}

a {
  text-decoration: none;
  text-shadow: 0 -.25vw 1px #3c3c3c;
  color: var(--light-text-color);
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

h1 {
  margin: 0;
  font-size: 2.25rem;
  font-weight:100;
  text-shadow: var(--base-textshadow)
}

nav a p {
  margin: 0;
}

nav a {
  font-size: var(--navlink-textsize);
  transition: font-size 2s;
  text-shadow: var(--navlink-textshadow)
}
nav a:first-child:hover {
  font-size: calc(var(--navlink-textsize) * 1.15)
}
nav a:last-child:hover {
  font-size: calc(var(--navlink-textsize) * 1.125)
}


<<<<<<< Updated upstream:src/App/App.css
=======
.contact-modal * { pointer-events: auto; } /* Makes child elements clickable again */

.modal-main {
  /* display: none; */
  /* opacity: 0; */
  border-radius: 10px;
  width: 90svw;
  height: 80svh;
  background-color: rgba(0, 0, 0, 0.8);
  margin: 2svh 5svw 2svh 5svw;
  transition: box-shadow 1s, opacity 1s;
}

#modal-submit {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 4svh;
  /* width: 7svw; */
}

.modal-main-show {
  display: inherit;
  opacity: 100;
  box-shadow: 500px 500px 500px 500px rgba(0, 0, 0, 0.561)
}

.modal-header {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
  margin-right: 1svw;
}

.modal-content {
  margin-top: 5svh;
}

.modal-input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 10svh;
}

.modal-input-field {
  margin: 2svh 25svw auto 25svw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.modal-input-field > input {
  width: 25svw
}
>>>>>>> Stashed changes:Frontend/src/App/App.css

/*Extra small devices (phones, 600px and down)*/
@media only screen and (max-width: 600px) {
  h1{
    font-size: calc(var(--h1-textsize) * 1.1);
  }
  nav a {
    font-size: calc(var(--navlink-textsize) * 1.1);
  }
  nav a:first-child:hover {
    font-size: calc(var(--navlink-textsize) * 1.1 * 1.15)
  }
  nav a:last-child:hover {
    font-size: calc(var(--navlink-textsize) * 1.1 * 1.125)
  }
}
/*Small devices (portrait tablets and large phones, 600px and up)*/
@media only screen and (min-width: 600px) {
  h1{
    font-size: calc(var(--h1-textsize) * 1.2);
  }
  nav a {
    font-size: calc(var(--navlink-textsize) * 1.25);
  }
  nav a:first-child:hover {
    font-size: calc(var(--navlink-textsize) * 1.25 * 1.15)
  }
  nav a:last-child:hover {
    font-size: calc(var(--navlink-textsize) * 1.25 * 1.125)
  }
}
/* Medium devices (landscape tablets, 768px and up)*/
@media only screen and (min-width: 768px) {
  h1{
    font-size: calc(var(--h1-textsize) * 1.1);
  }
  nav a {
    font-size: calc(var(--navlink-textsize) * 1.25);
  }
  nav a:first-child:hover {
    font-size: calc(var(--navlink-textsize) * 1.25 * 1.15)
  }
  nav a:last-child:hover {
    font-size: calc(var(--navlink-textsize) * 1.25 * 1.125)
  }
}
/* Large devices (laptops/desktops, 992px and up)*/
@media only screen and (min-width: 992px) {
  h1{
    font-size: calc(var(--h1-textsize) * 1.1);
  }
  nav a {
    font-size: calc(var(--navlink-textsize) * 1.5);
  }
  nav a:first-child:hover {
    font-size: calc(var(--navlink-textsize) * 1.5 * 1.15)
  }
  nav a:last-child:hover {
    font-size: calc(var(--navlink-textsize) * 1.5 * 1.125)
  }
}
/* Extra large devices (large laptops and desktops, 1200px and up)*/
@media only screen and (min-width: 1200px) {
  h1{
    font-size: calc(var(--h1-textsize) / 1.5);
  }
  nav a {
    font-size: calc(var(--navlink-textsize) * 1.25);
  }
  nav a:first-child:hover {
    font-size: calc(var(--navlink-textsize) * 1.25 * 1.15)
  }
  nav a:last-child:hover {
    font-size: calc(var(--navlink-textsize) * 1.25 * 1.125)
  }
}


