/*
    WINDOW CONTAINER
*/

/* .window-area {
    position: relative;
    display: grid;
} */

/*
    WINDOW
*/

.window {
    transition: transform 0.1 ease;
}

.window-border {
    min-height: var(--window-border-minheight);
    min-width: var(--window-border-minwidth);
    width: max-content;
    border: var(--window-border-border);
    background-color: var(--window-border-background);
    border-image: url('../WindowFrame/window_border.png') calc(128/3) round;
    box-shadow: var(--window-border-boxshadow);
    padding: 1svw;
    transition: width 2, height 2s, transform 2s, position 2s;
}

/*
    WINDOW HEADER
*/

.window-header {
    font-size: var(--window-header-textsize);
    text-shadow: var(--header-textshadow);
    margin: var(--window-header-margin);
    width: var(--window-header-width);
    display: flex;
    text-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.window-header > section > button {
    background-color: rgba(0, 0, 0, 0.146);
    border: 1px solid rgba(255, 255, 255, 0.161);
    color: var(--alt-text-color);
    background: none;
    border: none;
    font-weight: 1000;
    font-size: var(--window-button-textsize);
}

/*
    WINDOW CONTENT
*/

.window-content {
    padding: 5px;
    font-size: var(--window-content-textsize);
}

/*
    MINIMZED WINDOWS
*/

.window.minimized {
    padding: 1px;
    transition: transform 0.2s ease-in-out;
}

.window.minimized .window-header {
    justify-content: left;
    margin: 0;
}

.window.minimized .window-border {
    min-width: unset;
    border: none;
    padding: 0.4svw;
    background-color: #2f4346;
}
.window.minimized .window-content {
    display: none;
}

/*
    MEDIA QUERIES
*/

/*Extra small devices (phones, 600px and down)*/
@media only screen and (max-width: 600px) {
    .window-content {
        font-size: var(--window-content-textsize);
    }
}
/*Small devices (portrait tablets and large phones, 600px and up)*/
@media only screen and (min-width: 600px) {}
/* Medium devices (landscape tablets, 768px and up)*/
@media only screen and (min-width: 768px) {}
/* Large devices (laptops/desktops, 992px and up)*/
@media only screen and (min-width: 992px) {}
/* Extra large devices (large laptops and desktops, 1200px and up)*/
@media only screen and (min-width: 1200px) {}

