.window-border {
    min-height: var(--window-border-minheight);
    width: max-content;
    border: var(--window-border-border);
    background-color: var(--window-border-background);
    border-image: url('../WindowFrame/window_border.png') calc(128/3) round;
    box-shadow: var(--window-border-boxshadow);
    padding: 1svw;
}

.window-header {
    font-size: var(--window-header-textsize);
    margin: var(--window-header-margin);
    height: var(--window-header-height);
    width: var(--window-header-width);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.window-area {
    position: relative;
    display: grid;
}