html {
  overflow: hidden;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: Besley;
  max-width: 100svw;
  min-width: 100svw;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.App {
  text-align: center;
}


.App-body {
  background-color: var(--background-color);
  background-image: url('../assets/images/background.webp');
  background-size: cover;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: var(--light-text-color);
}

#App-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

a {
  text-decoration: none;
  color: var(--light-text-color);
}


h1 {
  font-size: 2.25rem;
  line-height: 0;
  margin-left: .6vw;
}

#header-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: .5vw;
}

#header-nav * {
  text-decoration: none;
  margin-right: .8vw;
  color: var(--alt-text-color)
}

.App-link {
  color: #61dafb;
}
