html {
  overflow: hidden;
}

#root {
  height: stretch;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  max-width: 100svw;
  min-width: 100svw;
  min-height: 100vh;
  
  background-color: var(--background-color);
  background-image: url('../assets/images/background.webp');
  background-size: cover;
  color: var(--light-text-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1vw;
  text-align: center;
  height: min-content;
}

nav { 
  display: flex;
  justify-content: space-around;
  text-align: center;
}

nav * {
  text-decoration: none;
  margin-right: 1vw;
  color: var(--alt-text-color);
}

header a {
  margin: 0 0.2vw 0.1vw 0.2vw;
  border-bottom: 2px solid var(--alt-text-color);
  text-underline-offset: 150px;
}

a {
  text-decoration: none;
  text-shadow: 0 -.25vw 1px #3c3c3c;
  color: var(--light-text-color);
  display: flex;
  justify-content: center;
  align-items: flex-end;
  z-index: 9999999;
}

h1 {
  margin: 0;
  font-size: 2.25rem;
  font-weight:100;
  text-shadow: var(--base-textshadow);
}

nav a p {
  margin: 0;
}

nav a {
  font-size: var(--navlink-textsize);
  transition: font-size 2s;
  text-shadow: var(--navlink-textshadow)
}
nav a:first-child:hover {
  font-size: calc(var(--navlink-textsize) * 1.15)
}
nav a:last-child:hover {
  font-size: calc(var(--navlink-textsize) * 1.125)
}



/*Extra small devices (phones, 600px and down)*/
@media only screen and (max-width: 600px) {
  h1{
    font-size: calc(var(--h1-textsize) * 1);
  }
  nav a {
    font-size: calc(var(--navlink-textsize) * 1);
  }
}
/*Small devices (portrait tablets and large phones, 600px and up)*/
@media only screen and (min-width: 600px) {}
/* Medium devices (landscape tablets, 768px and up)*/
@media only screen and (min-width: 768px) {}
/* Large devices (laptops/desktops, 992px and up)*/
@media only screen and (min-width: 992px) {}
/* Extra large devices (large laptops and desktops, 1200px and up)*/
@media only screen and (min-width: 1200px) {}