:root {
    /* COLORS */
        /* BACKGROUND COLORS */
        --background-color: #040f0f;
            /* WINDOW */
                --window-border-background: #040F0F;
        /* --menu-bkgcolor: #12191a; */
        /* TEXT COLORS */
        --light-text-color: #bef1f5;
        --alt-text-color: #9BE0E4;
        --main-text-color: #85bdbf;
        /* SHADOW COLORS */
        --grey-shadow: #57737a;
        /* --shadowcolor: #68f3fd9c; */
        --shadowcolor: #005157;
        /* --navlink-shadowcolor: #68f3fd44; */
        --navlink-shadowcolor: #005157;
        --header-shadowcolor: #005157;
            /* WINDOW */
                --window-border-boxshadow: 0 0 1px 0 rgb(145, 202, 189), 0 0 8px 0 rgba(178, 230, 231, 0.19);
    /* TEXT EFFECTS */
        --base-textshadow: -1px 1px 1px var(--shadowcolor),
        1px 1px 1px var(--shadowcolor),
        -1px -1px 1px var(--shadowcolor),
        1px -1px 1px var(--shadowcolor);
        --navlink-textshadow: -1px 1px 1px var(--navlink-shadowcolor),
        1px 1px 1px var(--navlink-shadowcolor),
        -1px -1px 1px var(--navlink-shadowcolor),
        1px -1px 1px var(--navlink-shadowcolor);
        --header-textshadow: -1px 1px 1px var(--header-shadowcolor),
        1px 1px 1px var(--header-shadowcolor),
        -1px -1px 1px var(--header-shadowcolor),
        1px -1px 1px var(--header-shadowcolor);
    /* SIZES  */
        --h1-textsize: 4vw;
        --navlink-textsize: calc(8px + 2vmin);
        /* WINDOW */
            --window-header-textsize: 1.75rem;
            --window-content-textsize: 1.1rem;
            --window-button-textsize: 2svw;
    /* SPACING */
        --h1-margintop: 25vh;
        /* WINDOW */
            --window-header-margin: -4svw auto auto -4svw;
    /* BORDERS */
        /* WINDOW */
            --window-border-border: 2.5svw solid rgb(0, 0, 0);
    /* TRANSFORM */
        /* WINDOW */
            --window-header-height: 3svw;
            --window-header-width: calc(100% + 8svw);
            --window-border-minheight: 150px;
            --window-border-minwidth: 300px;

    /* MINIMIZED WINDOWS */
        --minimized-space: 1px;
}

/* @font-face {
    font-family: 'Arvo';
    src: url('./assets/fonts/Arvo/Arvo-Regular.ttf');
} */

@font-face {
    font-family: 'Besley';
    src: url('./assets/fonts/Besley/Besley-VariableFont_wght.ttf');
    font-display: swap;
}

*.unselectable {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    pointer-events: none;
 
    /*
      Introduced in IE 10.
      See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
    */
    -ms-user-select: none;
    user-select: none;
 }