:root {
    /* COLORS */
        /* BACKGROUND COLORS */
        --menu-bkgcolor: black;
        /* TEXT COLORS */
        --main-text-color: rgb(255, 0, 0);
        /* SHADOW COLORS */
        --shadowcolor: gold;
    /* TEXT EFFECTS */
        --base-textshadow: -1px 1px 1px var(--shadowcolor),
        1px 1px 1px var(--shadowcolor),
        -1px -1px 1px var(--shadowcolor),
        1px -1px 1px var(--shadowcolor);
    /* SIZES  */
        --h1-textsize: 4vw;
    /* SPACING */
        --h1-margintop: 25vh;
    /* BORDERS */

    /* TRANSFORM */

}