:root {
    /* COLORS */
        /* BACKGROUND COLORS */
        --background-color: #040f0f;
        /* --menu-bkgcolor: #12191a; */
        /* TEXT COLORS */
        --light-text-color: #bef1f5;
        --alt-text-color: #9BE0E4;
        --main-text-color: #85bdbf;
        /* SHADOW COLORS */
        --grey-shadow: #57737a;
        --shadowcolor: gold;
    /* TEXT EFFECTS */
        --base-textshadow: -1px 1px 1px var(--shadowcolor),
        1px 1px 1px var(--shadowcolor),
        -1px -1px 1px var(--shadowcolor),
        1px -1px 1px var(--shadowcolor);
    /* SIZES  */
        --h1-textsize: 4vw;
    /* SPACING */
        --h1-margintop: 25vh;
    /* BORDERS */

    /* TRANSFORM */

}

/* @font-face {
    font-family: 'Arvo';
    src: url('./assets/fonts/Arvo/Arvo-Regular.ttf');
} */

@font-face {
    font-family: 'Besley';
    src: url('./assets/fonts/Besley/Besley-VariableFont_wght.ttf');
}